body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

a {
    color: white;
    text-decoration: none;
}

.left {
    font-weight: bold;
}