body {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
}


.intro-container {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-grow: 4;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
}

.intro-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.intro-title {
    font-size: 48px;
    font-weight: 900;
}

.intro-desc {
    font-size: 18px;
    color: #E5E7EB;
}

.intro-right {
    flex: 1;
    background-color: gray;
    margin-left: 30px;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
    padding: 50px 200px;
    flex-grow: 4;
    gap: 50px;
}

.info-subcontainer {
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    margin-bottom: 50px;
    gap: 60px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    width: 150px;
    gap: 8px;
    color: #636569;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 200px;
    flex-grow: 4;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    padding: 50px 60px;
}

.quote-author {
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
    padding-right: 80px;
}

.sign-up-container {
    background-color: #3882f6;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 200px;
    flex-grow: 4;
    border-radius: 8px;
}

.sign-up-desc {
    padding: 20px;
}

.call-to-action {
    font-size: 20px;
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    color: white;
    font-size: 16px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
}

.content img {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 16px;
}

a {
    color: #F9FAF8;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.links {
    font-size: 14px;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

button {
    background-color: #3882f6;
    color:#F9FAF8;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 36px;
    border-style: none;
    border-radius: 4px;
    flex-shrink: 0;
}

.sign-up-container button {
    margin: 25px;
    border-style: solid;
}